<% provide( :title, @user.name ) %>

<h1><%= @user.name %></h1>

<div class='row'>
  <aside class='span4'>
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  
  <div class='span8'>
    <% if @user.prayers.any? %>
      <% if current_user?( @user ) %>
        <h3 style='margin-bottom:15px;'><%= @user.prayers.count %> prayers submitted</h3>
      <% else %>
        <h3 style='margin-bottom:15px;'><%= @user.prayers.count %> prayers submitted ( some may be private and not viewable by you )</h3>
      <% end %>

      <ol>
        <%= render @prayers %>
      </ol>
      <%= will_paginate @prayers %>
    <% end %>
  </div>
</div>

