<p id="notice"><%= notice %></p>

<p>
  <b>Keys:</b>
  <%= @keyword.keys %>
</p>

<p>
  <b>User:</b>
  <%= @keyword.user.name %>
</p>


<%= link_to 'Spider', :controller => 'keywords', :action => 'spider', :id => @keyword  %> |
<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
